.vscode/settings.json
src/bin/Debug/net9.0/TestWorkflow
src/bin/Debug/net9.0/TestWorkflow.deps.json
src/bin/Debug/net9.0/TestWorkflow.dll
src/bin/Debug/net9.0/TestWorkflow.pdb
src/bin/Debug/net9.0/TestWorkflow.runtimeconfig.json
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/TestWorkflow.csproj.nuget.dgspec.json
src/obj/TestWorkflow.csproj.nuget.g.props
src/obj/TestWorkflow.csproj.nuget.g.targets
src/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/obj/Debug/net9.0/apphost
src/obj/Debug/net9.0/TestWorkflow.AssemblyInfo.cs
src/obj/Debug/net9.0/TestWorkflow.AssemblyInfoInputs.cache
src/obj/Debug/net9.0/TestWorkflow.assets.cache
src/obj/Debug/net9.0/TestWorkflow.csproj.CoreCompileInputs.cache
src/obj/Debug/net9.0/TestWorkflow.csproj.FileListAbsolute.txt
src/obj/Debug/net9.0/TestWorkflow.dll
src/obj/Debug/net9.0/TestWorkflow.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/net9.0/TestWorkflow.genruntimeconfig.cache
src/obj/Debug/net9.0/TestWorkflow.GlobalUsings.g.cs
src/obj/Debug/net9.0/TestWorkflow.pdb
src/obj/Debug/net9.0/TestWorkflow.sourcelink.json
src/obj/Debug/net9.0/ref/TestWorkflow.dll
src/obj/Debug/net9.0/refint/TestWorkflow.dll
src/obj/Debug/net9.0/apphost.exe
